{{#with course}}
<h1>{{title}}</h1>
<h3>Categoria: {{category}}</h3>
<div> 
    O curso <b>{{title}}</b> apresentando pelo Professor {{teacher}} tem avaliação {{ratingNumber}}
</div>
 <div>
    {{description}}
</div>
<div>
    <p> Valor: R$ {{price}}</p>
</div>
{{/with}}
<p>
<a href="/courses" class="btn info">Voltar</a>
</p>

