
<tr>
    <td>{{this.title}}</td>
    <td>{{this.category}}</td>
    <td>{{this.teacher}}</td>
    <td>{{this.ratingNumber}}</td>
    <td><p><a href="/course/{{this.id}}" class='btn info-gray'>Ver curso</a></p></td>
</tr>
          
